.Chips {
  background: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url("https://neelamfoodland.us/cdn/shop/products/IMG_3513_76826804-154c-4696-9017-47d0a3bcf274.jpg?v=1698402057&width=1445");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}