.Soda {
  background: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url("https://131610149.cdn6.editmysite.com/uploads/1/3/1/6/131610149/s346694948735380391_p59_i1_w1000.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}